# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/themes/ht/ht_forum/.sass-cache/
sites/all/themes/ht/.sass-cache/
CHANGELOG.txt
.idea
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
