@font-face {
  font-family: 'iran sans';
  src: url('../fonts/iran_sans_light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'iran sans';
  src: url('../fonts/iran_sans.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'iran sans';
  src: url('../fonts/iran_sans_bold.ttf') format('truetype');
  font-weight: 700;
}

span.file-size {
    display: block;
}

body, a, p {
  font-family: 'iran sans' !important;
}

h1,h2,h3,h4,h5 {
  font-family: 'iran sans' !important;
  font-weight: 700;
}


.highlighted {
  .col-md-8 {
    border-left: 1px solid #eaeaea;
    border-right: 0 none;
  }
  .search-form-wrapper {
    padding-right: 15px;
    padding-left: 0;
  }
  .col-md-4 {

    ul {
      li {
        a {
          span {
            margin-left: 10px;
            margin-right: 0;
          }
        }
      }
    }
  }
}


/**
 *Front page
 */

.subsection-container li span {
  margin-left: 10px;
  margin-right: 0;
}

.conversation {
  padding-right: 40px;
  padding-left: 0;
  border-right: 5px solid #eaeaea;
  border-left: 0 none;
  margin-right: 30px;
  margin-left: 0;
}
.conversation-msg {
  &.private {
    &:before {
      border-left-color: rgb(255, 253, 218);
    }
  }
  .submitted {
    a {
      float: right;
      margin-left: 4px;
    }
  }
  &:before {
    left: 100%;
    right: auto;
    border-left-color: #fafafa;
    border-right-color: transparent;
  }

  .user-picture {
    right: -68px;
    left: auto;
  }
}

.node-type-ticket form.comment-form {
  margin-right: -68px;
  padding-right: 68px;
  margin-left: 0;
  padding-left: 0;

  .user-picture {
    right: 0;
    left: auto;
  }
}

.view-related-topics, .view-related-articles {
  .views-field-title-field a {
    span.mdi-editor-insert-comment {
      font-size: 12px;
      margin-left: 5px;
      margin-right: 0;
    }
  }
}

ul.secondary li {
  border: none;
}

.input-group .form-control:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

span.name, span.votes, span.time {
//  direction: ltr;
  display: inline-block;
}

.select2-container {
  width: 100% !important;
  display: block;
}

.node-type-article {
  .field-name-field-tags, .field-name-field-category {
    .field-item {
      float: left;
    }
  }
}

aside #user-login-form {
  ul {
    padding-right: 0;
    li {
      &.first {
        float: right;
      }
      &.last {
        float: left;
      }
    }
  }
}

/**
 * Thumbs up
 */
.rate-widget-thumbs_up_down ul li {
  float: right;
}
.rate-widget-thumbs_up_down ul li a {
  float: right;
}
.rate-widget-thumbs_up_down .percent {
  float: right;
}
.rate-user .rate-thumbs-up-down-btn-up {
  float: left;
}
.rate-widget-thumbs_up_down .thumb-up a {
  float: left;
}
.rate-thumbs-up-down-rating-up {
  text-align: left;
}
.rate-thumbs-up-down-rating-down {
  text-align: right;
}

ul:not(.list-inline) {
  li.expanded, li.collapsed, li.leaf {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.page-forum {
  h4.subsection {
    margin-bottom: 5px;
  }
  .subsection-container {
    ul {
      li {
        p {
          line-height: 1.6;
        }
      }
    }
  }
}
