#navbar {
  margin-bottom: 0;
  .navbar-header {
    .logo {
      img {
        width: 160px;
      }
    }
  }
}
.navbar-collapse {
  padding-left:0;
}
.menu.nav .navbar-btn {
  padding: 10px;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:focus {
  background-color: rgba(255, 255, 255, 0.7);
}