#navbar {
  .navbar-header {
    margin-right: -15px;
    padding-right: 0;
    margin-left: 0;
    border-radius: 0 5px 0 0;
  }

  .navbar-collapse {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    &.lower {
      margin-right: -15px;
      .navbar-nav {
        > li {
          padding-top: 0;
          padding-left: 0;
          margin-left: 0;
          margin-right: 0;
          &.first {
            > a {
              border-radius: 0 0 3px 0;
            }
          }
        }
      }
    }
  }
}